{{define "crear"}}
    {{template "cabecera"}}
        
        <div class="card">
            <div class="card-header">
                Empleados
            </div>
            <div class="card-body">
                <form method="post" action="/insertar"> 
                    <div class="form-group">
                        
                        <label for="">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Escribe tu nombre</small>
              
                        <label for="">Correo:</label>
                        <input type="email" class="form-control" id="correo" name="correo" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Escribe tu correo</small>
                        
                        <button type="submit" class="btn btn-success">Insertar empleado</button>
                        <a name="" id class="btn btn-primary" href="/">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    {{template "pie"}}
{{end}}