{{define "editar"}}
    {{template "cabecera"}}
        
        <div class="card">
            <div class="card-header">
                Empleados
            </div>
            <div class="card-body">
                <form method="post" action="/actualizar"> 
                    
                    <div class="form-group">                        
                        <input type="hidden" class="form-control" value="{{.Id}}" id="id" name="id" aria-describedby="helpId" placeholder="">
                    </div>
                    
                    <div class="form-group">                        
                        <label for="">Nombre:</label>
                        <input type="text" class="form-control" value="{{.Nombre}}" id="nombre" name="nombre" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Escribe tu nombre</small>
              
                        <label for="">Correo:</label>
                        <input type="email" class="form-control" id="correo" value="{{.Correo}}" name="correo" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Escribe tu correo</small>
                        <br>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-success">Modificar empleado</button>
                        <a name="" id class="btn btn-danger" href="/">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    {{template "pie"}}
{{end}}